*~
\#*#
dotfiles.sublime-project
dotfiles.sublime-workspace
personal/xfce4/stow_folder/emacs/.emacs.d/ac-comphist.dat
personal/xfce4/stow_folder/emacs/.emacs.d/custom.el
personal/xfce4/stow_folder/emacs/.emacs.d/elpa
personal/xfce4/stow_folder/emacs/.emacs.d/transient
/stow_folder/emacs/.emacs.d/custom.el
/stow_folder/emacs/.emacs.d/eln-cache/
/stow_folder/emacs/.emacs.d/elpa/
/stow_folder/emacs/.emacs.d/transient/
